<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
  rel="stylesheet" />

<div class="content" role="main">
  <div class="container">
    <h3 class=" text-center">Ticketing Chat</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>Canales</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_ib">
                    <div><input type="text" class="form-control" placeholder="Ticket" [(ngModel)]="ticket" /></div>
                    <div><input type="text" class="form-control" placeholder="User" [(ngModel)]="user" /></div>
                    <button type="button" (click)="addRoom()" class="btn btn-primary">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <li class="message" *ngFor="let message of listMessages">
              <div *ngIf="message.mensaje.idCliente == 0 && message.tipo == 'texto' then incoming_msg;"></div>
              <ng-template #incoming_msg>
                <div class="incoming_msg">
                  <div class="card">
                    <div class="card-body card-body-incoming">
                      <div class="incoming_msg_img">
                        <img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
                      </div>
                      <div>
                        <p style="color:#c4c4c4">{{message.mensaje.idTicket}} . {{message.mensaje.fInsert}}</p>
                        <p style="font-size: 15px;">{{message.mensaje.texto}} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div *ngIf="message.mensaje.idCliente > 0 && message.tipo == 'texto' then outgoing_msg;"></div>
              <ng-template #outgoing_msg>
                <div class="outgoing_msg">
                  <div class="card  border-0">
                    <div class="card-body card-body-send">
                      <div class="incoming_msg_img">
                        <img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
                      </div>
                      <div>
                        <p style="color:#c4c4c4; text-align: right;">{{message.mensaje.idTicket}} .
                          {{message.mensaje.fInsert | date:'short'}}</p>
                        <p>{{ message.mensaje.texto }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div *ngIf="message.mensaje.idCliente == 0 && message.tipo == 'imagen' then incoming_img_msg;"></div>
              <ng-template #incoming_img_msg>
                <div class="card  border-0">
                  <div class="card-body card-body-send">
                    <div class="incoming_msg_img">
                      <img />
                    </div>
                    <div>
                      <p><a href="" target="_blank"><img src="{{ message.mensaje.img }}"></a></p>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div *ngIf="message.mensaje.idCliente > 0 && message.tipo == 'imagen' then outgoing_img_msg;"></div>
              <ng-template #outgoing_img_msg>
                <div class="outgoing_msg">
                  <div class="card  border-0">
                    <div class="card-body card-body-send">
                      <div class="incoming_msg_img">
                        <img />
                      </div>
                      <div>
                        <p><a (click)="openImages(message.mensaje.img)"><img src="{{ message.mensaje.img }}"></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <button [ngClass]="onfilesSelected(myinputfile.files)?'btn btn-primary':'btn btn-dark'" type="button"
                (click)="onaddremoveFiles()">
                <i [ngClass]="onfilesSelected(myinputfile.files)?'fa fa-remove':'fa fa-paperclip'"
                  aria-hidden="true"></i>
                <input type="file" hidden id="attach_file" [ngModel]="currentFiles" accept=".jpg,.jpeg,.png"
                  #myinputfile>
              </button>
            </div>
            <input type="text" class="form-control msg_txt" [disabled]="onfilesSelected(myinputfile.files)"
              placeholder="Enviar mensaje..." [(ngModel)]="message" />
            <div class="input-group-append">
              <button class="btn btn-dark" type="button" (click)="sendMessage()">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>